  /* ЭЛЕМЕНТЫ ФОРМЫ */
  .input-text-group {
    position: relative;
  }
  
  .input-field {
    /* width: 100%; */
    padding: 16px 12px;
    border-radius: 8px;
    background: #F4F4F6;
    border: 0;
    outline: 0;
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    
  
    &::placeholder {
      color: transparent;
    }
    
    /* Лейбл без текста и не в фокусе */
    &:placeholder-shown ~ .input-label {
      font-family: Museo Sans Cyrl;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      cursor: text;
      top: 27%;
      left: 4%;
      color: #A1A6B1;
    }
  }
  
  /* Лейбл без фокуса сверху */
  .input-label {
    top: -17%;
    left: 2%;
    display: block;
    transition: 0.2s;
    color: #5D5B66;
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    position: absolute;
  }
  
  /* Лейбл с фокусом сверху */
  .input-field:focus {
    ~ .input-label {
      position: absolute;
      top: -17%;
      left: 2%;
      display: block;
      transition: 0.2s;
      color: #5D5B66; 
      font-family: Museo Sans Cyrl;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.01em;
      text-align: left;
      position: absolute;  
    }
  }

