body {
  background-color: #dfdfdf;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("/src/fonts/MuseoSansCyrl500.ttf") format("opentype");
  font-weight: 500;
}

p {
  font-family: Museo Sans Cyrl;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.input-date-group {
  background: #F4F4F6;
  color: #A1A6B1;
  width: 200px;
  padding: 12px;
  padding-right: 8px;
  gap: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.input-date-group:hover {
  color: #040013;
}

.input-date-group p {
  margin: 0;
}

.calendar-img {
  padding: 8px;
  background-color: white;
  border-radius: 4px;
}

.year-picker {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  max-width: 280px;
  max-height: 260px;
  overflow: auto;
}

.row__year-picker {
  display: flex;
  gap: 4px
}

.year-number {
  padding: 4px 14px;
  margin: 12px 0px;
  user-select: none;
  cursor: pointer;
  border-radius: 8px;
}

.year-number:hover {
  background-color: #EEEEF1;
}

.year-picker::-webkit-scrollbar {
  width: 4px;
}

.year-picker::-webkit-scrollbar-track {
  border-radius: 4px;
}

.year-picker::-webkit-scrollbar-thumb {
  background: #CDBDDB; 
  border-radius: 4px;
}